

.title {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

.float {
    width: 760px;
    margin: 60px auto;
}

.float__img {
    width:400px;
    margin: 0 0 20px 20px;
    float: right;
}

img {
    width: 100%;
}